<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>How Are You Feeling Today?</h1>
      <h2>Write one line about it!</h2>
      <img src="http://www.inkco.com/images/unicorn.gif"; id="unicornGif"></img>

      <form id="message-form" method="POST" action="/messages">
        <textarea id="name" name="name" placeholder="Enter your name here."></textarea>
        <select name="mood" id="names_moods">
          <option value="happy">Happy</option>
          <option value="meh">Meh</option>
          <option value="sad">Sad</option>
          <option value="mad">Mad</option>
        </select>
        
        <textarea id="message-body" name="body" placeholder="Enter a message here."></textarea>
 
        <button type="submit">Post Message</button>
      </form>
      <% if messages.empty? %>
        <h2>Sorry, no messages. :(</h2>
      <% else %>
        <h2>Messages</h2>
        <ol class="message-list">
          <% messages.each do |message| %>
            <li>
              <div class="message.name"> 
                <%= message.name %>
              </div>
              <div class="message-body">
                <%= message.body %>
              </div>
               <div class="message-body">
                <%= message.likes %>
              </div>
              <div class="message-mood">
                <%= message.mood %>
              </div>

               <form action="/messageLike/<%=message.id%>" method="POST">
                <button type="submit">Like!</button></form>
              <div class="message-timestamp">
                Posted on <%= message.created_at.strftime("%B %d, %Y at %l:%M%p") %>
              </div>
              <div class="message-comments">
                <form action="/message/<%= message.id %>/comments" method="POST">
                    <textarea name="comment_body" placeholder="comment bruh"></textarea>
                    <button type="submit"> Add Comment </button>
                    </form>
                  <h3>Comments</h3>
                  <% message.comments.each do |comment| %>
                  <p><%= comment.body %></p>
                  <% end %>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </body>
</html>
